@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-image: url('../assets/jack.gif');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hotpink;
}

#container {
  width: 5000px;
}

.pic {
  max-height: 90px;
  margin-right: 5px;
}

.message {
  /*display: block;*/
  margin: 0;
}

#moving-container {
  width: 5000px;
  left: 1300px;
  position: relative;
  display: flex;
}

.mid-container {
  width: 600px;
}

.student {
  margin: 10px;
  background-color: gainsboro;
  opacity: 0.9;
  max-width: 600px;
  display: flex;
}

#student1 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student2 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student3 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student4 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student5 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student6 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student7 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student8 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student9 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student10 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student11 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student12 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student13 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student14 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student15 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student16 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student17 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student18 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student19 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student20 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student21 {
  position: relative;
  left: 50px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

#student22 {
  position: relative;
  left: 250px;
  max-height: 90px;
  border: 5px solid gainsboro;
}

.name {
  font-family: 'Indie Flower', cursive;
}

#mainCat {
  left: -270px;
  position: absolute;
}
