body {
  max-width: 900px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  color: gainsboro;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h3 {
  text-align: center;
}

img {
  max-width: 100%;
}

.wolf-1 {
  max-width: 50%;
  margin: 0 auto;
}

.container {
  text-align: center;
}

#jack-1 {
  max-width: 50%;
}
